<nav>
    <a href="/">Home</a>
    <% if(user) { %>
      <a href="/users/<%=user._id%>/tasks">View my Tasks</a>
      <a href="/auth/sign-out">Sign Out</a>
    <% } else { %>
      <a href="/auth/sign-in">Sign In</a>
      <a href="/auth/sign-up">Sign Up</a>
    <% } %>
</nav>